body{
    background-color:#8080801f;
}
.container{
    padding-left:20%;
    padding-right:20%;

}
.head{
    text-align:center;
    background-color:#80808085;
}
.list{

}
.actions{
 display: inline-block;
float:right;
}
a{
    padding-right:10px;
}
.iteams-class{
    width:100%;


}
.iteams-class input {
    font-size:17px;
}

.edited label:after {
    content:' EDITED';
    color:green;
}
