<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TODO APP</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <link href="Style/main.css" rel="stylesheet">
<body ng-app="TodoList">
<div class="container" ng-controller="mainCCtrl">
    <h1 class="head">My TODO List </h1>
    <div align="center" style="width:100%;height:100%background-color:#80808052;">
        <a href="" ng-click="addtodo()"> + Add More Iteams </a>
    </div>
    <div class="list">
        <div ng-class="{'iteams-class' : editing , 'edited' : edited }" ng-repeat="todo in todos">
            <input ng-model="todo.completeed" type="checkbox"/>
            <label class="edit_label" ng-hide="editing"> {{ todo.data }}</label>
            <input class="edit_label" ng-blur="editing = false;" ng-change="edited = true;" ng-model="todo.data"
                   ng-show="editing" type="text"/>
            <div class="actions">
                <a href="" ng-click="editing = !editing"> Edit </a>
                <a href="" ng-click="savetodo(todo)"> save </a>
                <a class="delete" href="" ng-click="deletetodo(todo,$index)"> delete </a>
            </div>
        </div>
    </div>
</div>
<script src="Script/app.js"></script>
<script src="Script/Controllers/main.js"></script>
<script src="Script/Services/data.js"></script>
<script src="vendor/angular.js"></script>
</head>
</body>
</html>