<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TODO APP</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <link rel="stylesheet" href="Style/main.css">

<body ng-app="TodoList">
<h1>My TODO List </h1>
    <div ng-controller="mainCCtrl" class="list" >
        <div ng-repeat="todo in todos">
            <input ng-model="todo.completeed" type="checkbox"/>
            <label ng-hide="editing" class="edit_label" > {{ todo.data }}</label>
            <input ng-show="editing" ng-model="todo.data" class="edit_label"  type="text"/>

            <div class="actions" >
                <a href="" ng-click="editing = !editing" > Edit </a>
                <a href="" ng-click="save()"> save </a>
                <a href="" class="delete" ng-click="delete()" > delete </a>
            </div>

        </div>
    </div>

<script src="Script/app.js"></script>
<script src="vendor/angular.js"></script>
<script src="Style/hellow-world.js"></script>
</head>
</body>
</html>